.main-left {
  width: 225px;
}
.main-left ul {
  list-style-type: none;
}
.main-left ul li {
  border-bottom: 1px dotted #dddddd;
  padding: 15px 0;
}
.main-left ul li:first-child {
  padding-top: 0;
}
.main-left ul li .desc {
  font-size: 13px;
  margin-bottom: 3px;
  color: #74747a;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.main-left ul li .read-more {
  text-decoration: none;
  font-size: 12px;
  font-style: italic;
}
.main-left ul li .read-more:after {
  content: '->';
  color: #007bff;
}
.main-left ul li .sale-off {
  border: 1px solid #e6e7e7;
  padding: 30px 0;
  background-color: #f9f7f8;
}
.main-left ul li .sale-off .h-title {
  text-align: center;
  color: #fc6c6b;
  font-weight: bold;
  font-size: 28px;
}
.main-left ul li .sale-off .p-desc {
  font-size: 18px;
  color: #fc6c6b;
  text-align: center;
  margin-bottom: 0;
}
.main-left ul li .about-title {
  font-size: 25px;
}
.main-left ul li .new-title {
  font-size: 25px;
}
.main-left ul li .new-infor__title {
  margin-bottom: 5px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.main-left ul li .new-infor__img img {
  width: 100%;
}
.main-left ul li .menusm-title {
  font-size: 25px;
}
.main-left ul li .menusm-ct .li-pro {
  padding-left: 15px !important;
  position: relative;
}
.main-left ul li .menusm-ct .li-pro a {
  color: #333;
  text-decoration: none;
}
.main-left ul li .menusm-ct .li-pro a:hover {
  color: #0da9ef;
}
.main-left ul li .menusm-ct .li-pro:before {
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  color: #9da9b9;
}
.main-left ul li .menusm-ct li {
  border-bottom: none;
  padding: 0 !important;
}
.main-left ul li .menusm-ct li .cate {
  display: none;
}
.main-left ul li .menusm-ct li .cate li {
  padding-left: 10px !important;
}
.main-left ul li .menusm-ct li .cate li a {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .main-left {
    display: none;
  }
}
