.main-right {
  width: calc(100% - 225px);
  padding-left: 30px;
}
.main-right .hotproduct-content {
  display: flex;
}
.main-right .hotproduct-content__sp {
  border: 1px solid #e6e6e7;
  border-radius: 5px;
  padding: 10px;
  min-height: 440px;
}

.main-right .hotproduct-content__sp .ct-pay__title{
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.main-right .hotproduct-content__sp .ct-img {
  height: 300px;
  margin-bottom: 10px;
  position: relative;
}
.main-right .hotproduct-content__sp .ct-img:hover {
  overflow: hidden;
}
.main-right .hotproduct-content__sp .ct-img:hover img {
  transform: scale(1.2);
  transition: 1s;
}
.main-right .hotproduct-content__sp .ct-img .saleflag {
  position: absolute;
  top: 26px;
  right: -20px;
  transform: rotate(270deg);
  color: #fff;
  background-color: #fc6c6b;
  padding: 5px;
}
.main-right .hotproduct-content__sp .ct-img .saleflag:after {
  content: '';
  position: absolute;
  right: 100%;
  margin-right: -1px;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #fc6c6b transparent;
}
.main-right .hotproduct-content__sp .ct-img .saleflag:before {
  content: ' ';
  position: absolute;
  right: 100%;
  margin-right: -1px;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 16px 16px 0;
  border-color: transparent #fc6c6b transparent transparent;
}
.main-right .hotproduct-content__sp .ct-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.main-right .hotproduct-content__sp .ct-pay__title a {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.main-right .hotproduct-content__sp .ct-pay__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-right .hotproduct-content__sp .ct-pay__price .price-left p {
  margin-bottom: 0px;
}
.main-right .hotproduct-content__sp .ct-pay__price .price-left .p-ny {
  color: #c4c4d4;
  text-decoration: line-through;
  font-size: 80%;
}
.main-right .hotproduct-content__sp .ct-pay__price .price-right .btn {
  font-size: 13px;
}
.has-error input{
  border-color: red;
}
.text-error{
  color: red;
}


@media screen and (max-width: 768px) {
  .main-right {
    width: 100%;
    padding-left: 0;
  }
}
